@{
    ViewData["Title"] = "Home Page";
}
<p>@ViewData["email"]</p>

<address>
    <strong>More Information:</strong> <a href="http://kleber.xhellx@gmail.com">kleber Email</a>
</address>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
